alabaster==0.7.12
Babel==2.9.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
commonmark==0.9.1
docutils==0.16
furo @ git+https://github.com/daleeidd/furo@cd085aedb5a365e6658575040432b3ce8574a18d
idna==2.10
imagesize==1.2.0
Jinja2==2.11.3
livereload==2.6.3
Markdown==3.3.4
MarkupSafe==1.1.1
packaging==20.9
Pygments==2.8.0
pyparsing==2.4.7
pytz==2021.1
readthedocs-sphinx-search==0.1.0
recommonmark==0.7.1
requests==2.25.1
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.2
Sphinx==3.5.1
sphinx-autobuild==2020.9.1
sphinx-hoverxref==0.5b1
sphinx-inline-tabs @ git+https://github.com/daleeidd/sphinx-inline-tabs@e70a7d08f11df10df1011c575d73d6f296b62cfc
sphinx-issues==1.2.0
sphinx-markdown-tables==0.0.15
sphinx-notfound-page==0.6
sphinx-panels==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tornado==6.1
urllib3==1.26.5
